@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-primary: 98 179 102;
    --color-secondary: 34 8 43; */
    --color-primary: 80 188 80;
    --color-secondary: 34 8 43;
    --color-background: 246 248 250
  }
}

/* Logo hover shiny effect */

.logoSpan {
  /* padding: 0.5rem 0.5rem 0.5rem 0; */
  mask-image: linear-gradient(60deg,
      black 25%,
      rgba(0, 0, 0, 0.2) 50%,
      black 75%);
  mask-size: 400%;
  mask-position: 0%;
  display: block;
}

.logoSpan:hover {
  mask-position: 100%;
  transition:
    mask-position 1s ease,
    -webkit-mask-position 1s ease;
}